.App {
  text-align: center;
}

.grid {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
}

.tile {
  flex: 1;
  background-color: #EFFFCD;
  margin: 2px;
  min-height: 20px;
}

.blocked--true {
  background-color: #555152;
}

.start--true {
  background-color: #0101EE;
}

.end--true {
  background-color: #01EE01;
}

.border--true {
  background-color: #99173C;
}

.dead--true {
  background-color: #DCE9BE;
}

.control__panel {
  max-width: 400px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding: 20px;
}
